* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	font-family:sans-serif;
	color:#fffffF;
}
a {
	color:#FFD190;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 2.5rem;
	padding: .5rem;
	text-decoration:none;
	transition: background .5s;
}

a:hover {
	color:black;
	/*D5A6BD*/
	background-color: #FEC188;
}

header {
    background-color:#eeeeee;
	color:#555555;
    height: 10%;
	width: 100%;
    text-align:center;
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 100;
	padding: 1rem;
	border-bottom: 1px solid #c1c1c1;
}

.sidebar {
    background-color:#8a8a8a;
    height: auto;
	width: 25%;
    color:white;
    text-align:left;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	padding-top: 5rem;
}

.content  {
	background-color:#FFD190;
    height: auto;
	width: 75%;
    color:#555555;
    text-align:left;
	position: fixed;
	top: 0;
	bottom: 0;
	right:0;
	
	padding: 1.5rem;
	padding-top: 5rem;
}

p {
	line-height:2rem;
}

iframe{ 
	border: none; 
}